.home-page{
 
    .text-zone{
    position: absolute;
    left: 10%;
    top: 80%;
    transform: translateY(-120%);
     width: 50%;
    font-size: 40px;
    max-height: 100%;
 }
    h1{
        color: #fff;
        font-size: 60px;
        margin: 0%;
        font-family: 'Coolventica';
        font-weight: 400;
        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
           font-size: 38px;
           position: absolute;
           margin-top: -40px;
           left: 15px;
           opacity: 0.6;
        }
        &::after{
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
           font-size: 38px;
           position: absolute;
           margin-top: 18px;
           margin-left: 20px;
          animation: fadeIn 1s 1.7s backwards;
          opacity: 0.6;

        }
}
h2{
    color: #8d8d8d;
    font-size: 40px;
    margin: 0%;
    font-family: 'sans-serif';
    margin-top: 40px;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.7s backwards;
    font-weight: 400;

}
.flat-btn{
    color: #ffd700;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    border: 1px solid #ffd700;
    font-family: 'sansa-serif';
    padding: 10px 18px;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.7s backwards;
  white-space: nowrap;

&:hover{
    background: #ffd700;
    color: #333;
}
}
}